<?xml version="1.0"?>
<launch>
    <arg name="world_frame_id" value="world_enu"/> 
    <node name="simple_goal_publisher_drone_key1" pkg="simple_traj_airsim" type="teleop_drone" output="screen">
        <param name="vehicle_name" value="Drone1"/>
        <param name="world_frame_id" value="/world_enu"/>
    </node>
   

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find simple_traj_airsim)/launch/rviz/temp.rviz" output="log" />

</launch>
